.filter_table {
  display: flex;
  flex-direction: column;
  width: 700px;
  margin: auto;
  padding-top: 50px;
}

.filter_row {
  display: flex;
  margin-bottom: 10px;
  padding-top: 4px;
  cursor: pointer;
  border-top: 1px lightgrey solid;
}

.criteria_type {
  width:150px;
}

.criteria_comparison {
 width: 75px;
  text-align: center;}

.criteria_row {
  display: flex;
  margin-bottom: 10px;
  gap: 10px;
}

.criteria_value {
  width: 100%;
}

.modal_buttons {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-bottom: 10px;
}

button {
  border-width: 0px;
  height: 30px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 5px;
  cursor: pointer;
}

.button_save {
  background-color: #6cbb62;
}

.button_add_new {
  background-color: #ababab;
}

.button_delete_criterion, .button_delete_filter {
  background-color: #f6766a;
}

.button_new_filter {
  background-color: #ababab;
  margin-bottom: 10px;
}

.filter_inline_checkbox {
  margin-bottom: 10px;
}

.input_filter_name {
}
